﻿@model IEnumerable<Admin.Models.ORGANIGRAMA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table bordered">
    <tr>
        <th hidden>
            @Html.DisplayNameFor(model => model.APARTADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMAGEN)
        </th>
        <th hidden>
            @Html.DisplayNameFor(model => model.ORDEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRUPO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td hidden>
            @Html.DisplayFor(modelItem => item.APARTADO)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.IMAGEN)*@
            <img src="@item.IMAGEN" width="200px;"/>
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.ORDEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRUPO)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
