﻿@model Admin.Models.ImagenesView

@{
    ViewBag.Title = "Agregar";
}


@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <h3>@ViewBag.Error</h3>
}
<h2>Agregar</h2>


@using (Html.BeginForm("Agregar", "Slider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>IMAGENES</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" hidden>
            @Html.LabelFor(model => model.APARTADO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Request.QueryString["tipo"] == "fet")
                {
                    <input type="text" name="APARTADO" id="APARTADO" value="FONIX_ERES_TU">
                }
                else if (Request.QueryString["tipo"] == "ev")
                {
                    <input type="text" name="APARTADO" id="APARTADO" value="EVENTOS">
                }
                else if (Request.QueryString["tipo"] == "bv")
                {
                    <input type="text" name="APARTADO" id="APARTADO" value="BIENVENIDO">
                }
                else
                {
                    <input type="text" name="APARTADO" id="APARTADO" value="CLASIFICADOS">
                }

                @Html.ValidationMessageFor(model => model.APARTADO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IMAGEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.IMAGEN, new { htmlAttributes = new { @class = "form-control" } })*@
                @*<input type="file" name="file" id="file" />*@
                @Html.TextBoxFor(modelo => modelo.ImagenFile, new { type = "file" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.FECHA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FECHA, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.ORDEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ORDEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ORDEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DESCRIPCION, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
