﻿@model IEnumerable<Admin.Models.IMAGENES>

@{
    ViewBag.Title = "FonixEresTu";
}

<h2>Clasificados</h2>

<p>
    @*@Html.ActionLink("Agregar", "Agregar")*@
    <a href="/Slider/Agregar?tipo=cl">Agregar</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <a href="@item.IMAGEN" target="_blank"><img src="@item.IMAGEN" style="width:445px;height:230px;"></a>
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>
                        @item.DESCRIPCION - <span class="badge blue" style="color:azure;">@item.ORDEN</span>
                    </p>
                </div>
                <div class="card-action">
                    @Html.ActionLink("Eliminar", "EliminarImagen", new { id = item.ID })
                </div>
            </div>
        </div>
    }
</div>
