﻿@model IEnumerable<Admin.Models.IMAGENES>
@{
    ViewBag.Title = "ColoresCumple";
}

<h2>ColoresCumple</h2>

<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach(var i in Model.OrderBy(x=>x.ORDEN))
            {
                <td>@i.DESCRIPCION</td>
            }
        </tr>
    </tbody>
</table>