﻿@model Admin.Models.IMAGENES

@{
    ViewBag.Title = "EliminarImagen";
}

<h2>EliminarImagen</h2>

<h3>Estas seguro de eliminar esta imagen?</h3>
<div>
    <h4>IMAGENES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.APARTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APARTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMAGEN)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.IMAGEN)*@
            <img src="@Model.IMAGEN" style="width:445px;height:230px;"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
