﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Lato|Mogra" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/materialize/css/materialize.css" rel="stylesheet" />

</head>
<body>
    <div class="menu">
        <ul id="slide-out" class="side-nav fixed orange lighten-2">
            <li><a href="/Slider/FonixEresTu">Slider-Fónix eres tú  <i class="tiny material-icons">play_arrow</i></a></li>
            <li><a href="/Slider/Clasificados">Slider Clasificados <i class="tiny material-icons">play_arrow</i></a></li>
            <li><a href="/Slider/Eventos">Slider Eventos <i class="tiny material-icons">play_arrow</i></a></li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">Enlaces<i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="/Enlaces/ActualizarImagen?imagen=ecamp">Telcel Nos Une <i class="tiny material-icons">play_arrow</i></a></li>
                                <li><a href="/Enlaces/ActualizarImagen?imagen=edescuentos">Descuentos <i class="tiny material-icons">play_arrow</i></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <!--Menu lateral-->
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">Menú lateral<i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="/MenuLateral/ActualizarImagen?imagen=camp">Telcel Nos Une <i class="tiny material-icons">play_arrow</i></a></li>
                                <li><a href="/MenuLateral/ActualizarImagen?imagen=evaluacion">Eval. Cliente <i class="tiny material-icons">play_arrow</i></a></li>
                                <li><a href="/MenuLateral/ActualizarImagen?imagen=comite">Comite de etica <i class="tiny material-icons">play_arrow</i></a></li>
                                <li><a href="/MenuLateral/ActualizarImagen?imagen=politica">Equidad<i class="tiny material-icons">play_arrow</i></a></li>
                                <li><a href="/MenuLateral/ActualizarImagen?imagen=descuentos">Descuentos <i class="tiny material-icons">play_arrow</i></a></li>
                                <li><a href="/MenuLateral/ActualizarImagen?imagen=erestu">Fónix eres tú <i class="tiny material-icons">play_arrow</i></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>

            <!--Menu secundario-->
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">Menú Secundario<i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="/MenuSecundario/ActualizarImagen?imagen=comunicados">Comunicados <i class="tiny material-icons">play_arrow</i></a></li>
                               @* <li><a href="/MenuSecundario/ActualizarImagen?imagen=eventos">Eventos <i class="tiny material-icons">play_arrow</i></a></li>*@
                                <li><a href="/MenuSecundario/ActualizarImagen?imagen=bienvenidos">Bienvenidos <i class="tiny material-icons">play_arrow</i></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>


            <!--Comite de etica-->
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">Comite de etica<i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="/Codigo/Actualizar?tipo=Documento">Codigo (pdf) <i class="tiny material-icons">play_arrow</i></a></li>
                                <li><a href="/Codigo/Actualizar?tipo=Imagen">Imagen <i class="tiny material-icons">play_arrow</i></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>

        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
