﻿@model Admin.Models.IMAGENES

@{
    ViewBag.Title = "ActualizarImagen";
}

<h2>ActualizarImagen</h2>

<div>
    <h4>IMAGENES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.APARTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APARTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMAGEN)
        </dt>

        <dd>
            <img src="@Model.IMAGEN" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.ID }) |
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
